body {
    background-color: #fafafa;>
}

h1  {
    font-size: 65px;
    font-weight: 700;
    color: rgb(34,34,34);
}

h2  {
    font: Helvetica;
    font-size: 40px;
    font-weight: 700;
    color: rgb(34,34,34);
}

h3  {
    font: Helvetica;
    font-size: 28px;
    font-weight: 700;
    color: rgb(34,34,34);
}

a   {
    
    color: black;
}

.wrapper    {
    max-width: 864px;
    width: 100%;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Muli', sans-serif;
}